  label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:left;
}

.home{
float:right;
}

fieldset{
border:none;
width:500px;
margin:0px auto;
}

thead
{
font-weight:bold;
}
.middle
{
text-align:center;
}

.headtext
{
    margin-bottom: 1em;
    font-size: 36px;
    color: #08298A;        
}

.LoginPanel
{	
	text-align: center;
	margin-top: 15%;
}

.LoginLine
{
	margin-left: -7%;
	margin-top: 1%;
	font-weight: bold;
}

.Footer
{
	vertical-align: bottom;
}